  nav {
    background-color: #F8F9FA;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }

  h2 {
    font-size: large;
  }


  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: calc(20% - 20px);
    box-sizing: border-box;
    width: fit-content;
  }

  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .card h2 {
    font-size: 18px;
    margin-bottom: 5px;
    width: fit-content;
  }

  .card p {
    font-size: 14px;
    margin-bottom: 0;
    width: fit-content;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 5% 2% 5%;
  }